* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'open_sansregular', sans-serif;
    font-size: 87.5%;
    font-weight: 400;
    font-style: normal;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #080a36;
    cursor: default;
}

.logo_header, .appstore_svg, .googleplay_svg, .logo_footer_svg, .logo_footer_down {
    fill: #ffffff;
}

.header1, .header2, .header3 {
    font-family: 'open_sansbold';
    text-transform: uppercase;
    color: #ffffff;
}

.appstore, .googleplay {
    display: flex;
    background-color: #5e42b0;
    border-style: none;
}

.appstore_text, .googleplay_text {
    font-family: 'open_sansregular';
    text-transform: uppercase;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.app_text2, .google_text2 {
    font-family: 'open_sansbold';
}

.athlets, .players {
    display: flex;
    flex-direction: column;
    position: relative;
}

.athlets_img, .players_img {
        position: absolute;
    }

.athlets_header_section, .players_header_section {
    font-family: 'open_sansbold';
    text-transform: uppercase;
    color: #e7e7e7;
}

.athlets_header_list, .players_header_list1, .players_header_list2, .players_header_list3 {
    display: flex;
}

.athlets_number1, .athlets_number2, .players_number1, .players_number2 {
    font-family: "open_sansbold";
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    border-bottom: 4px solid #5e42b0;
}

.athlets_number3 {
    font-family: "open_sansbold";
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    border-bottom: 4px solid #ffffff;
}

.players_number3 {
    font-family: "open_sansbold";
    font-weight: bold;
    text-align: center;
    color: #9173e6;
    border-bottom: 3px solid #ffffff;
}

.actions_block1, .actions_block2, .actions_block3 {
    background-color: #5e42b0;
    display: flex;
} 

.actions_number1, .actions_number2, .actions_number3 {
    font-family: "open_sansbold";
    color: #ffffff;
    font-weight: bold;
    border-bottom: 4px solid #8f7bc8;
}

.athlets_header, .players_header, .actions_header1, .actions_header2, .actions_header3 {
    font-family: "open_sansbold";
    color: rgb(193, 193, 193);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.232;
    text-align: left;
}

.athlets_text1, .athlets_text2, .players_text1, players_text2 {
    font-family: "open_sansregular";
    color: rgb(0, 0, 0);
    text-align: left;
}

.players_text3, .athlets_text3 {
    font-family: "open_sansregular";
    color: #ffffff;
    text-align: left;
}

.athlets_list2, .players_list2 {
    background-color: #f5f4f9;
} 

.athlets_list3 {
    background-color: #5e42b0;
}

.players_list3 {
    background-color: #090c35;
}

.blocks1, .blocks2, .blocks3 {
    background-repeat: no-repeat;
}

footer {
    background-color: #080a36;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_h1 {
    font-family: "open_sansbold";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
}

.footer_h3 {
    text-transform: uppercase;
    color: #9b8ec1;
}

.logo_footer_svg {
    background-color: #5e42b0;
}

@media (max-width: 640px) {
    header {
        background-image: url(images/header_320.png);
        padding-bottom: 82px;
    }
    
    .logo_header {
        margin-top: 38px;
        margin-bottom: 125px;
        width: 133px;
        height: 36px;
    }
    
    .header_0 {
        letter-spacing: 2px;
        padding-bottom: 80px;
    }
    
    .header1 {
        margin-right: 17%;
        padding-bottom: 13px;
        line-height: 1.8;
    }
    
    .header2 {
        margin-left: 16%;
    }
    
    .header3 {
        margin-left: 16%;
        line-height: 1;
    }

    .appstore {
        margin-bottom: 15px;
        border-radius: 18px;
        padding: 5px 83px 5px 83px;
    }
    
    .googleplay {
        border-radius: 18px;
        padding: 5px 108px 5px 83px;
    }
    
    .appstore_svg {
        width: 22px;
        height: 24px;
    }
    
    .appstore_text, .googleplay_text {
        font-size: 8px;
    }
    
    .appstore_text {
        padding-left: 7px;
    }
    
    .googleplay_svg {
        width: 22px;
        height: 24px;
        margin-right: 7px;
    }
    
    .athlets, .players {
        flex-direction: column;
        align-items: center;
    }
    
    .athlets_img, .players_img {
        top: 82px;
        /*text-align: center;*/
    }
    
    .athlets_header_section, .players_header_section {
        font-size: 30px;
        margin-top: 13px;/*25*/
        margin-bottom: 227px;
        padding-left: 6.25%;
    }
    
    .athlets_list1, .players_list1 {
        background-color: #fafafa;
    } 
    
    .athlets_list1, .athlets_list2, .athlets_list3, .players_list1, .players_list2, .players_list3, .blocks1, .blocks2, .blocks3 {
        padding-left: 6.25%;
        padding-right: 6.25%;
    }
    
    .athlets_number, .players_number1, .players_number2, .players_number3, .actions_block1, .actions_block2, .actions_block3 {
        font-size: 14px;
    }
    
    .athlets_header, .players_header, .actions_header1, .actions_header2, .actions_header3 {
        font-size: 28px;
    }
    
    .athlets_text1, .athlets_text2, .athlets_text3, .players_text1, .players_text2, .players_text3, .actions_text1, .actions_text2, .actions_text3 {
        padding-top: 15px;
        line-height: 1.2;
    }
    
    .athlets_header, .players_header {
        padding-left: 10px;
    }
    
    .athlets_text1, .athlets_text2, .athlets_text3, .players_text1, .players_text2, .players_text3 {
        font-size: 16px;
        font-weight: 400;
    }
    
    .athlets_list1 {
        padding-top: 80px;
        padding-bottom: 52px;
    }
    
    .athlets_list2 {
        padding-top: 49px;
        padding-bottom: 49px;
    }
    
    .athlets_list3 {
        padding-top: 53px;
        padding-bottom: 30px;
    }
    
    .players_list1 {
        padding-top: 80px;
        padding-bottom: 10px;
    }
    
    .players_list2 {
        padding-top: 56px;
        padding-bottom: 30px;
    }
    
    .players_list3 {
        padding-top: 50px;
        padding-bottom: 52px;
    }
    
    .blocks1_img, .blocks2_img, .blocks3_img {
        position: absolute;
        left: 0;
        top: 0;
    }
    
    .blocks1 {
        position: relative;
        padding-bottom: 100px;
    }
    
    .text_block1, .text_block2, .text_block3 {
        position: relative;
    }
    
    .blocks2 {
        position: relative;
        padding-bottom: 85px;
    }
    
    .blocks3 {
        position: relative;
        padding-bottom: 80px;
    }
    
    .actions_block1, .actions_block2, .actions_block3 {
        width: 70px;
        padding: 26px;
    }
    
    .actions_number_block1, .actions_number_block2, .actions_number_block3 {
        padding-top: 292px;
        padding-bottom: 10px;
        position: relative; /*new*/
    }
    
    .logo_footer_svg {
        width: 70px;
        height: 75px;
        padding: 13px 7px 14px 8px;
        border-radius: 18px;
    }
    
    footer {
        background-image: url(images/footer_320.png);
        padding-top: 97px;
    }
    
    .footer_h1 {
        font-size: 32px;
        padding-top: 43px;
    }
    
    .footer_h3 {
        font-size: 15px;
        padding-bottom: 77px;
    }
    
    .logo_footer_down {
        width: 133px;
        height: 36px;
        margin-top: 80px;
    }
}

@media (min-width: 641px) and (max-width: 960px) {
    header {
        background-image: url(images/header_768.png);
        padding-bottom: 86px;
    }
    
    .logo_header {
        margin-top: 38px;
        margin-bottom: 167px;
        width: 205px;
        height: 56px;
    }
    
    .header_0 {
        line-height: 1.1;
    }
    
    .header1 {
        margin-right: 25.65%;
        font-size: 5.009rem;
    }
    
    .header2 {
        margin-left: 197px;
        font-size: 5.009rem;
    }
    
    .header3 {
        font-size: 5.009rem;
    }
    
    .appstore, .googleplay {
        justify-content: center;
        margin: 0 10px 0 20px;
        border-radius: 50px;
        width: 310px;
        padding: 18px 63px 18px 40px;
    }
    
    .appstore_svg {
        width: 36px;
        height: 42px;
    }
    
    .appstore_text, .googleplay_text {
        font-size: 14px;
    }
    
   .appstore_text {
        padding-left: 20px;
    }
    
    .googleplay_svg {
        width: 41px;
        height: 45px;
        margin-right: 20px;
    }
    
    .store_buttons {
        display: flex;
        margin-top: 300px;
    }
    
    .athlets_img {
        top: 90px;
    }
    
    .players_img {
        top: 63px;
        left: calc(100% - 418px);
    }
    
    .athlets_header_section {
        font-size: 3.80952rem;
        padding-left: 38vw;
        margin-top: 58px;
    }
    
    .players_header_section {
        font-size: 3.80952rem;
        margin-top: 58px;
        padding-left: 4.3vw;
    }
    
    .athlets_list1, .athlets_list2, .athlets_list3 {
        padding-left: 38vw;
        padding-right: 4.3vw;
    }
    
    .players_list1, .players_list2, .players_list3 {
        padding-left: 4.3vw;
        padding-right: 40vw;
    }
    
    .athlets_number, .players_number1, .players_number2, .players_number3 {
        font-size: 18px;
    }
    
    .athlets_header, .players_header {
        font-size: 32px;
    }
    
    .athlets_text {
        padding-top: 17px;
        line-height: 1.75;        
    }
    
    .players_text {
        padding-top: 17px;
        line-height: 1.75;
    }
    
    .athlets_header, .players_header {
        padding-left: 10px;
    }
    
    .athlets_text1, .athlets_text2, .athlets_text3, .players_text1, .players_text2, .players_text3 {
        font-size: 16px;
        font-weight: 400;
    }
    
    .athlets_list1 {
        padding-top: 30px;
        padding-bottom: 40px;
    }
    
    .athlets_list2 {
        padding-top: 36px;
        padding-bottom: 32px;
    }
    
    .athlets_list3 {
        padding-top: 35px;
        padding-bottom: 58px;
    }
    
    .players_list1 {
        padding-top: 28px;
        padding-bottom: 13px;
    }
    
    .players_list2 {
        padding-top: 56px;
        padding-bottom: 70px;
    }
    
    .players_list3 {
        padding-top: 47px;
        padding-bottom: 73px;
    }
    
    .actions_header1, .actions_header2, .actions_header3 {
        font-size: 5.9rem;
    }
    
    .actions_text1, .actions_text2, .actions_text3 {
        font-size: 26px;
        padding-top: 15px;
    }
    
    .blocks1 {
        /*background-image: url(images/be_active_768.png);*/
        padding-bottom: 86px;
    }
    
    .blocks2 {
        background-image: url(images/find_contact_768.png);
        padding-bottom: 83px;
    }
    
    .blocks3 {
        background-image: url(images/work_it_768.png);
        padding-bottom: 80px;
    }
    
    .text_block1, .text_block2, .text_block3 {
        padding-left: 4.3vw;
    }
    
    .actions_block1, .actions_block2, .actions_block3 {
        font-size: 24px;
        width: 116px;
        padding: 38px;
        /*margin: 500px 0 36px 4.3vw;*/
    }
    
    .actions_number_block1, .actions_number_block2, .actions_number_block3 {
        padding: 500px 0 36px 4.3vw;
    }
    
    .logo_footer_svg {
        width: 132px;
        height: 137px;
        padding: 25px 14px 25px 14px;
        border-radius: 40px;
    }
    
    footer {
        background-image: url(images/footer_768.png);
        padding-top: 127px;
    }
    
    .footer_h1 {
        font-size: 5.71428rem;
        padding-top: 60px;
    }
    
    .footer_h3 {
        font-size: 36px;
        padding-bottom: 77px;
    }
    
    .store_buttons_footer {
        display: flex;
        padding-top: 195px;
    }
    
    .logo_footer_down {
        width: 205px;
        height: 56px;
        margin: 50px 0 23px 0;
    }
}

@media (min-width: 961px) and (max-width: 1920px) {
    header {
        background-image: url(images/header_1920.png);
        padding-bottom: 107px;
    }
    
    .logo_header {
        margin-top: 45px;
        margin-bottom: 315px;
        width: 191px;
        height: 52px;
    }
    
    .header1 {
        margin-left: 55.21%;
        font-size: 6.51rem;
        line-height: 0.1;
    }
    
    .header2 {
        margin-left: 645px;
        font-size: 6.51rem;
    }
    
    .header3 {
        font-size: 6.51rem;
    }
    
    .appstore {
        margin: 0 30px 0 20px;
        border-radius: 50px;
        width: 310px;
        padding: 11px 60px 18px 38px;
    }
    
    .googleplay {
        margin: 0 30px 0 20px;
        border-radius: 50px;
        width: 310px;
        padding: 14px 81px 13px 56px;
    }
    
    .appstore_svg {
        width: 40px;
        height: 50px;
    }
    
    .appstore_text {
        font-size: 14px;
        padding-left: 29px;
        padding-top: 8px;
    }
    
   .googleplay_text {
        font-size: 14px;
        padding-left: 9px;
        padding-top: 8px;
    }
    
    .googleplay_svg {
        width: 42px;
        height: 48px;
        margin-right: 20px;
    }
    
    .store_buttons {
        display: flex;
        justify-content: center;
        margin-top: 190px;
    }
    
    .athlets_img {
        right: 50.3vw;
    }
    
    .athlets_header_section {
        font-size: 3.80952rem;
        padding-left: 52.4vw;
        margin-top: 88px;
    }
    
    .athlets_header_list {
        padding-top: 33px;
    }
    
    .athlets_list1, .athlets_list2, .athlets_list3 {
        padding-left: 52.4vw;
        padding-right: 10.7vw;
    }
    
    .athlets_number {
        font-size: 18px;
        /*padding-top: 30px;*/
    }
    
    .athlets_header {
        font-size: 35px;
        padding-left: 10px;
        /*padding-top: 30px;*/
    }
    
    .athlets_text1, .athlets_text2, .athlets_text3 {
        padding-top: 17px;
        font-size: 20px;
        font-weight: 400;
    }
    
    .athlets_list1 {
        padding-top: 30px;
        padding-bottom: 55px;
    }
    
    .athlets_list2 {
        padding-top: 26px;
        padding-bottom: 60px;
    }
    
    .athlets_list3 {
        padding-top: 47px;
        padding-bottom: 102px;
    }
    
    .players_img {
        left: 42vw;
    }
    
    .players_header {
        font-size: 32px;
        padding-left: 10px;
    }
    
    .players_number1, .players_number2, .players_number3 {
        font-size: 18px;
    }
    
    .players_header_section {
        font-size: 3.80952rem;
        margin-top: 90px;
        padding-left: 16.8vw;
    }
    
    .players_header_list1, .players_header_list2, .players_header_list3 {
        display: flex; 
    }
    
    .players_text1, .players_text2, .players_text3 {
        padding-top: 19px;
        font-size: 21px;
        font-weight: 400;
    }
    
    .players_list1, .players_list2, .players_list3 {
        padding-left: 16.8vw;
        padding-right: 51.98vw;
    }
    
    .players_list1 {
        padding-top: 58px;
        padding-bottom: 73px;
    }
    
    .players_list2 {
        padding-top: 56px;
        padding-bottom: 75px;
    }
    
    .players_list3 {
        padding-top: 90px;
        padding-bottom: 92px;
    }
    
    .actions_header1, .actions_header3 {
        font-size: 4.7rem;
        padding-bottom: 80px; 
    }
    
    .actions_header2 {
        font-size: 4.7rem;
        padding-bottom: 50px;
    }
    
    .actions_text1 {
        font-size: 23px;
        padding: 15px 27.6vw 0 0;
    }
    
    .actions_text2 {
        font-size: 23px;
        padding-right: 300px;
    }
    
    .actions_text3 {
        font-size: 23px;
    }
    
    .blocks1 {
        /*background-image: url(images/be_active_1920.png);*/
        padding: 210px 0 220px 45.7vw;
        flex-direction: row;
    }
    
    .blocks2 {
        background-image: url(images/find_contact_1920.png);
        flex-direction: row-reverse;
        background-position: right;
        padding: 215px 44.8vw 290px 9.7vw;
    }
    
    .blocks3 {
        background-image: url(images/work_it_1920.png);
        padding: 212px 0 230px 45.7vw;
    }
    
    .text_block1 {
        padding: 31px 0 0 2vw;
    }
    
    .text_block2 {
        padding: 31px 0 0 0;
    }
    
    .text_block3 {
        padding: 31px 300px 0 45px;
    }
    
    .blocks1, .blocks2, .blocks3 {
        display: flex;
    }
    
    .actions_block1, .actions_block2, .actions_block3 { /*циферка*/
        font-size: 24px;
        width: 168px;
        padding: 62px 72px 62px 72px;
    }
    
    .logo_footer_svg {
        width: 130px;
        height: 138px;
        padding: 25px 14px 25px 14px;
        border-radius: 30px;
        margin-right: 37px;
    }
    
    footer {
        background-image: url(images/footer_1920.png);
        padding-top: 225px;
    }
    
    .footer_up {
    display: inherit;
    flex-direction: row;
    align-items: center;
}
    
    .footer_h1 {
        font-size: 5.71428rem;
    }
    
    .footer_h3 {
        font-size: 30px;
    }
    
    .store_buttons_footer {
        display: flex;
        justify-content: center;
        padding-top: 140px;
    }
    
    .logo_footer_down {
        width: 205px;
        height: 56px;
        margin: 260px 0 50px 0;
    }
}


